{% extends 'Tfd/basic.html' %}
{% block css %}
<!-- .title{
    margin-right: 100px;
} -->
.fontS{
font-size: 35px
}
{% endblock %}
{% block body %}
<br>
<div class="container-fluid bg-dark">
    <div class="row ">
        <div class="col-md-3 offset-md-1  mt-3 mb-3">
            <img src="/media/{{res.res_image}}" class="ml-4" style="width: 250px; height: 170px" alt="">
        </div>
        <div class="col-md-3 ">
            <p class="text-white fontS mb-2 mt-2">{{res.res_title}}</p>
            <p class="text-white mb-2">{{res.res_spec}}</p>
            <p class="text-white ">{{res.address}}</p>
        </div>
    </div>
</div>

<div class="container">

    <div class="row mt-3">
        {% for i in food %}
        <div class="offset-md-1 col-md-2">
            <img src="/media/{{i.image}}" class="mb-3 img-fluid" style="width: 130px; height: 130px" alt="">
        </div>
        <div class="col-md-3">
            <h3>{{i.name}}</h3>
            <b>Rs-{{i.price}}</b>
            <p>{{res.res_spec}}</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 ">
            <button href=""  id="food" class="btn btn-success mt-4 cart">Add To Cart</button>
        </div>
        <div class="col-md-2"></div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block js %}
  
  <script>
    console.log('working');
    if (localStorage.getItem('cart') == null) {
      var cart = {};
    }
    else {
        var sum = 0
      cart = JSON.parse(localStorage.getItem('cart'));
      for (var item in cart) {
        sum = sum + cart[item] 
      }
      document.getElementById('cart').innerHTML = sum;
    }
    $('.cart').click(function () {
      console.log('clicked');
      var idstr = this.id.toString();
      console.log(idstr);
      if (cart[idstr] != undefined) {
        cart[idstr] = cart[idstr] + 1;
      }
      else {
        cart[idstr] = 1;
      }
      console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      var sum  = 0
      for (var item in cart) {
        sum = sum + cart[item]
      }
      document.getElementById('cart').innerHTML =sum;
      
    });

  </script>
 
  {% endblock %}